@using Blog.Model.ViewModels;

@model IdentityRoleViewModel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Name)
<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.IsSelected)
        @Html.DisplayFor(model => model.Name)
    </label>
</div>